.linkText {
  color: #039;
  text-decoration: none;
}

.hourText {
  color: #900
}

.boxSport {
  font-family: Arial,Helvetica,sans-serif;
  width: 100%;
  
}

.primaryMenu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
 }

.primaryMenu__menu {
  display: inherit;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin-bottom: 1px;
  border-top: 2px solid #c9caca;
  border-bottom: 1px solid #c9caca;
  background: #efefef;
  
}


.primaryMenu__item {
  align-self: baseline;
  font-weight: 700;
  box-sizing: border-box;
  flex-grow: 1;
  margin: 0 1px 0 0;
}

.primaryMenu__item--first {
  background-color: #2366C9;
  margin: 0;
}


.primaryMenu__item a {
  color: #000;
  text-decoration: none;
  font-size: 13px;
}

.primaryMenu__item--activo {
  background: #2366C9;
  border-top: 2px solid #014da7;
  border-bottom: 1px solid #367dcc;
  padding-bottom: 4px;
  padding-top: 1px;
} 

.primaryMenu__item--activo a {
  color: #fff;
}

.secondaryMenu {
  background-color: #f3f3f3;
  border-bottom: 1px solid #adc5e1;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}


.secondaryMenu__menu {
  display: inherit;
  list-style-type: none;
  padding: 5px 0 5px;
  margin-bottom: 0.2em;
  width: 60%;
}

.secondaryMenu__item {
  align-self: baseline;
  box-sizing: border-box;
  flex-grow: 1;
  padding-left: 5px;
}

.secondaryMenu__item a {
    display: inherit;
    color: #004da6;
    font-size: 12px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #9d9d9d;
    font-family: Arial,Helvetica,sans-serif;
    padding-right: 0.5em;
}

.boxSport__title {
  font-size: 16px;
  color: #039;
  font-weight: 400;
  font-stretch: ultra-condensed;
  line-height: 1.2;  
}


.boxSport__desc {
  font-size: 12px;
  margin: 0 0 3px;
  padding: 0;
}

.boxMain {
  width: 100%;
  margin-bottom: 5px;
  padding: 0;
  font-family: Arial,Helvetica,sans-serif;
  text-align: left;

}

.boxMain__mainTitle {
  font-size: 25px;
  line-height: 26px;
  font-weight: 700;
  margin: 7px 0 5px;
 }

 .boxMain__title {
  font-size: 19px;
  font-weight: 400;
  line-height: 21px;
 }

.boxMain__desc {
  font-size: 13px;
  line-height: 18px;
  margin: 0;
  padding: 0;
}

.boxMain__relateds {
  height: auto;
  font-size: 11px;
  margin-top: 3px;
}

.boxMain__relateds ul {
  list-style-type: square;
  list-style-position: outside;
  line-height: 20px;
}

.boxMain__relateds li {
  margin-left: 15px;
}

.boxDebate {
  overflow: hidden;
  position: relative;
  width: 100%;
  text-align: : left;
  margin-bottom: 5px;
}

.boxDebate__image {
  height: 200px;
  border: none;
}

.boxDebate__question {
  margin: 5px 0;
  font-weight: 700;
  margin-bottom: 3px
} 

.boxDebate__question a {
  font-size: 12px;
}
.boxDebate__separator {
  border-style: solid;
  border-color: #FBB531;
  border-width: 1px;
  height: 1px;
  background-color: #FBB531;
}

.boxFrase {
  width: 100%;
  margin-bottom: 20px;
  margin-top: 10px;
  position: relative;
  font-family: Arial,Helvetica,sans-serif;
}

.boxFrase__section {
  font-size: 12px;
  font-weight: 700;
  padding: 7px 5px 4px 10px;
  margin-top: 0;
  color: #000;
  background: #e8e7e5;
  text-transform: uppercase;
  border-bottom: 4px solid #1679b0;
  margin-bottom: 10px;
}

.boxFrase__frase {
  font-family: Georgia,"Times New Roman",Times,serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  color: #555;
  font-style: italic;
  text-decoration: none;
}

.boxFrase__autor {
  color: #555;
  margin-top: 8px;
  line-height: 13px;
  font-size: 11px; 
  text-align: right;
}

.autor__name {
  width: 90%;
  color: #000;
  font-weight: bold;
  text-transform: uppercase;
 }
 
.autor__cargo {
 width:90%;
  color: #666;
  font-weight: 400;
}

.sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
    