p, span, math {
  font-size: large;
}

.debt {
  color: red;
}

p {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  
}
p > span, p > pre {
  align-self: center;
}


pre {
    clear: left;
    white-space: pre-wrap;
    display: block;
    background: hsl(220, 80%, 90%); 
    width: 60%;
    border: 1px  darkslategray solid;
    border-radius: 10px;
}

.sr-only {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}